<div class="product-block flex items-center justify-start product-block-rich-text block-with-rich-text">
    <span class="inline-block icon-container">
      {%render 'check-circle-icon' %}
    </span>
  {{ text }}
</div>