<div class="tab-item-grid" js-header-tabs>
    <div class="tab-item  active" js-tab-item="1">
        <span class="number">1</span>
        <span>{{ section.settings.first_step_title }}</span>
    </div>
    <div class="tab-item  disabled" js-tab-item="2">
        <span class="number">2</span>
        <span>{{ section.settings.second_step_title }}</span>
    </div>
    <div class="tab-item  disabled" js-tab-item="3">
        <span class="number">3</span>
        <span>{{ section.settings.third_step_title }}</span>
    </div>
</div>