<div class="text-center button-actions-wrapper">
  <button data-proced-to-product-list class="inline-block push-btn btn-action">
    <span class="push-btn-surface">CHOOSE PRODUCTS BUNDLE</span>
  </button>
</div>
