<div class="media-style-container default sticky-position">
    <div class="bundle-cart-container media-content">





        <div class="bundler__header" data-js-bundler-toggle="">
            <div class="bundler__header__inner">
                <span class="bundler__header-title">Your Bundle</span>
                <span class="bundler__header-subtitle">Add 3+ products to make your bundle and receive a free
                    gift.</span>
            </div>
            {% comment %} <div class="bundler__header-toggle element--hide-on-desk">
                <span class="bundler__header-toggle__plus"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.05664 0.5H7.05664V13.5H6.05664V0.5Z" fill="black"></path>
                        <path d="M13.0566 6.5V7.5H0.0566406L0.0566407 6.5L13.0566 6.5Z" fill="black"></path>
                    </svg></span>
                <span class="bundler__header-toggle__minus"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.0566 6.5V7.5H0.0566406L0.0566407 6.5L13.0566 6.5Z" fill="black"></path>
                    </svg></span>
            </div> {% endcomment %}
        </div>

        <scroll-wrapper-slider class="without-scroll without-arrows">
            <span class="arrow-slider left-button"></span>
            <span class="arrow-slider right-button"></span>
            <div class="starter-selection inner_container_items" js-starter-selection-block="">

            {% for i in (1..100) %}
                <div class="set-item " js-starter-set-item="" data-set-index="{{i}}">
                    <div class="placeholder-item product-line-item">
                        <div class="placeholder-media product-media">
                        </div>
                        <div class="product-details">
                            <div class="set-title">Item {{ i }}</div>

                        </div>
                    </div>

                    <div js-selected-product class="product-line-item">
                        <div class="product-media">
                            <div class="product-image">
                                <img src="//longwknd.com/cdn/shop/files/product-image-deo-unscented.jpg?v=1695066452"
                                    alt="">
                            </div>
                        </div>

                        <div class="product-details current-details">
                            <div class="set-title"></div>
                            <div class="set-options"></div>
                            <div class="set-price">$00.00</div>
                            <div class="set-action">remove</div>
                        </div>
                    </div>
                </div>
            {%endfor%}


            {% comment %} free give produc position {% endcomment %}
                <div class="set-item" js-starter-set-item="" data-set-index="-1">
                    <div class="placeholder-item product-line-item gift-product-item">
                        <div class="placeholder-media product-media relative">
                            {%- liquid
                            assign id = 'on-sale-sticker--' | append: 0
                            assign shape = "badge"
                            assign vertical_position = 17
                            assign horizontal_position = 15
                            assign rotate = -16

                            if section.settings.discount_amount == 100
                                assign text = "FREE"
                                assign font_size = "2.5rem"
                            else 
                                assign text = section.settings.discount_amount | append: '% OFF'
                                assign font_size = "2rem"
                            endif
                            -%}
                            {%- render 'static-sticker',
                            static_id: 'metafield-badge',
                            shape: shape,
                            id: id,
                            text: text,
                            vertical_position: vertical_position,
                            horizontal_position: horizontal_position,
                            rotate: rotate,
                            width: 56,
                            font_size: font_size,
                            color: 'bg-scheme-accent text-scheme-accent-overlay'
                            %}
                        </div>
                        <div class="product-details">
                            <div class="set-title">Free gift</div>

                        </div>
                    </div>

                    <div js-selected-product="" class="product-line-item gift-product-item">
                        <div class="product-media relative">
                            <div class="product-image">
                                {%- liquid
                                
                                assign id = 'on-sale-sticker--' | append: 0
                                assign shape = "badge"
                                assign vertical_position = 17
                                assign horizontal_position = 15
                                assign rotate = -16

                                if section.settings.discount_amount == 100
                                    assign text = "FREE"
                                    assign font_size = "2.5rem"
                                else 
                                    assign text = section.settings.discount_amount | append: '% OFF'
                                    assign font_size = "2rem"
                                endif

                                -%}
                                {%- render 'static-sticker',
                                static_id: 'metafield-badge',
                                shape: shape,
                                id: id,
                                text: text,
                                vertical_position: vertical_position,
                                horizontal_position: horizontal_position,
                                rotate: rotate,
                                width: 56,
                                font_size: font_size,
                                color: 'bg-scheme-accent text-scheme-accent-overlay'
                                %}
                                <img src="//longwknd.com/cdn/shop/files/product-image-deo-unscented.jpg?v=1695066452"
                                    alt="">
                            </div>
                        </div>

                        <div class="product-details current-details">
                            <div class="set-title"></div>
                            <div class="set-options"></div>
                            <div class="set-price"><s></s></div>
                            <div class="set-action">remove</div>
                        </div>
                    </div>
                </div>


       

    </div>
   </scroll-wrapper-slider>


    <div class="text-center button-actions-wrapper bundler__footer">
        <p class="bundle__footer-note"><b>Pro Tip:</b> Add as many products to your bundle as you like!</p>
        <button type="button" class="inline-block push-btn btn-action" data-add-to-bundle disabled>
            <span class="push-btn-surface" data-add-to-bundle-text>ADD TO CART - $00.00</span>
        </button>
    </div>
</div>