<div class="tab-item-grid">
    <div class="tab-item  active" js-tab-item="">
        <span class="number">1</span>
        <span>{{ section.settings.first_step_title }}</span>
    </div>
    <div class="tab-item  disabled" js-tab-item="">
        <span class="number">2</span>
        <span>{{ section.settings.second_step_title }}</span>
    </div>
    <div class="tab-item  disabled" js-tab-item="">
        <span class="number">3</span>
        <span>{{ section.settings.third_step_title }}</span>
    </div>
</div>