<div class="text-center button-actions-wrapper">
  <button data-proced-to-gift class="inline-block push-btn btn-action not-able btn-bg-secondary">
    <span class="push-btn-surface">CHOOSE FREE GIFT</span>
  </button>
</div>
