<div class="text-center button-actions-wrapper">
  <button href="{{ collection.url }}" class="inline-block push-btn btn-action">
    <span class="push-btn-surface">CHOOSE FREE GIFT</span>
  </button>
</div>
