
<div class="{{ block_base_classes }} text-sm product-bloc-box-container" {{ block.shopify_attributes }}>
    <p class="text-item-block font-heading heading-secondary">{{block.settings.text}}</p>
    <p class="text-item-block font-secondary text-scheme-text">{{block.settings.sub_text}}</p>
</div>
  