.before-after-image-section {
    .splide__track {
        overflow: visible;
    }

    .font-heading{
        @media only screen and (max-width: 600px) {
            font-size: calc(var(--base-heading-size) * .8);
        }
    }
}

before-after-slider {
    .container-images {
        position: relative;
        width: 100%;
        height: 100%;

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 900px 100%;
        }
        .tag-status{
            padding: 11px 20px;
            border-radius: 10px;
            border: 1px solid #000;
            background: #F9F9F9;
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 1;
            color: #000;
            z-index: 4;
            @media only screen and (max-width: 600px) {
                padding: 7px 10px;
                font-size: 13px;
                left: 5px;
                bottom: 5px;
            }
        }
        .after-status{
            left: initial;
            right: 15px; 
            z-index: 2;
            @media only screen and (max-width: 600px) {
                right: 5px;
            }
        }
        .background-img{
            width: 100%;
            background-size:100% ;
            border-radius: inherit;
        }
        .foreground-img {
            width: 50%;
            background-size: cover;
            z-index: 3;
            overflow: hidden;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        input[type='range'] {
            -webkit-appearance: none;
            width: 100%;
            border-radius: 8px;
            height: 7px;
            border: 1px solid #bdc3c7;
            background-color: #bdc3c7;
            outline: none !important;
            outline: 0;
            -webkit-tap-highlight-color: none;
            height: 100%;
            z-index: 999;
            position: absolute;
            opacity: 0;
          }
          input[type='range']::focus {
            background-color: darkblue;
          }
          input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: #ecf0f1;
            border-radius: 50%;
            border: 1px solid #bdc3c7;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          /*Mozilla*/
          .firefox input[type='range']::-moz-range-track {
            border-radius: 50%;
            height: 10px;
            background-color: #fff;
          }
          .firefox input[type='range']::-moz-range-thumb {
            background-color: #ecf0f1;
            border-radius: 50%;
            border: 1px solid #bdc3c7;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          /*Microsoft*/
          input[type="range"]::-ms-fill-lower,
          input[type="range"]::-ms-fill-upper {
            background: transparent;
          }
          input[type="range"]::-ms-track {
              border-radius: 8px;
            height: 7px;
            border: 1px solid #bdc3c7;
            background-color: #fff;
          }
          input[type="range"]::-ms-thumb {
            background-color: #ecf0f1;
            border: 1px solid #bdc3c7;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            cursor: pointer;
          }
        .slider-button {
            pointer-events: none;
            position: absolute;
            width: 59px;
            height: 59px;
            border-radius: 50%;
            background-color: white;
            left: calc(50% - 31px);
            top: calc(50% - 28px);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            @media only screen and (max-width: 600px) {
                width: 31px;
                height: 31px;
                left: calc(50% - 16px);
                top: calc(50% - 18px);
            }
        }
    }
}
before-after-slider:not([is-active-slide]){
    display: none;
}

image-with-text-options{
    .options-main-inner{
        margin-top: 2.25rem;
        .chosen-option{
            text-transform: capitalize;
            @media only screen and (max-width: 600px) {
                font-size: calc(var(--base-heading-size) * .6);
            }
            .text-theme-basic{
                font-weight: normal;
                margin-left: 5px;
            }
        }
        
        .color-options-values{
            display: flex;
            column-gap: 15px;
            margin-top: 0.625rem;
            .color-options{
                .swatched--default-option{
                    border-width: var(--input-border-width);
                    border-color: transparent;
                    box-shadow: inset 0 0 0 var(--button-border-width) rgba(var(--color-button-border),0)
                }
                .swatched--default-option[checked-option=true]{
                    box-shadow: inset 0 0 0 var(--button-border-width) rgb(var(--color-button-border));
                }

                .swatched--default-option[available-option=false]{
                    pointer-events: none;
                    cursor: not-allowed;
                    opacity: 0.5;
                    display: none;
                    .btn{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}