.section-build-your-bundle-main {
  :root {
    --gutter-small: 15px;
    --gutter-regular: 25px;
    --gutter-large: 50px;
    --gutter-xlarge: 80px;
    --gutter-container: 40px;
    --gutter-breadcrumbs: -35px;
    --sidebar-width: 420px;
    --sidebar-gutter: 30px;
    --full-height: 100vh;
    --button-padding: 0.875rem 0.9375rem;
    --input-padding: 0.75rem;
    --button-product: 3.75rem;
    --header-vertical-space: 30px;
    --container-vertical-space: var(--container-vertical-space-base);
    --grid-gap: var(--grid-gap-original-base);
    --color-background-cards: var(--color-background-main);
    --color-text-cards: var(--color-text-main);
    --color-foreground-cards: var(--color-foreground-main);
    --color-secondary-text-cards: var(--color-secondary-text-main);
    --color-accent-cards: var(--color-text-main);
    --color-foreground-accent-cards: var(--color-foreground-main);
    --color-borders-cards: var(--color-borders-main);
  }

  @media screen and (max-width: 1280px) {
    :root {
      --gutter-small: 12px;
      --gutter-regular: 20px;
      --gutter-large: 35px;
      --gutter-xlarge: 60px;
      --gutter-breadcrumbs: -40px;
      --container-vertical-space: calc(
        var(--container-vertical-space-base) * 0.8
      );
      --grid-gap: calc(var(--grid-gap-original-base) * 0.8);
    }
  }
  @media screen and (max-width: 1023px) {
    :root {
      --gutter-small: 9px;
      --gutter-regular: 15px;
      --gutter-large: 25px;
      --gutter-xlarge: 40px;
      --gutter-container: 30px;
      --gutter-breadcrumbs: -50px;
      --sidebar-width: 375px;
      --sidebar-gutter: 20px;
      --header-vertical-space: 20px;
      --container-vertical-space: calc(
        var(--container-vertical-space-base) * 0.6
      );
      --grid-gap: calc(var(--grid-gap-original-base) * 0.5);
    }
  }
  @media screen and (max-width: 767px) {
    :root {
      --button-padding: 0.6875rem 0.5625rem;
      --input-padding: 0.5rem;
      --button-product: 3.125rem;
      --gutter-container: 20px;
      --gutter-breadcrumbs: -50px;
      --header-vertical-space: 15px;
    }
  }
  @media screen and (max-width: 474px) {
    :root {
      --sidebar-width: 100%;
      --gutter-container: 15px;
    }
  }

  .grid {
    --col-gap: var(--grid-gap);
    --col-size: calc(
      (100% - var(--col-gap) * (var(--visible-cols) - 1)) / var(--visible-cols)
    );
    display: grid;
    align-items: start;
    grid-gap: var(--col-gap);
  }
  .grid--justify-center {
    justify-content: center;
  }
  .grid--justify-space-between {
    justify-content: end;
  }
  .grid--align-items-center {
    align-items: center;
  }
  .grid--align-items-stretch {
    align-items: stretch;
  }
  .grid-1 {
    --visible-cols: 1;
  }
  .grid-2 {
    --visible-cols: 2;
  }
  .grid-3 {
    --visible-cols: 3;
  }
  .grid-4 {
    --visible-cols: 4;
  }
  .grid-5 {
    --visible-cols: 5;
  }
  .grid-6 {
    --visible-cols: 6;
  }
  @media screen and (max-width: 1280px) {
    .grid-laptop-1 {
      --visible-cols: 1;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-laptop-2 {
      --visible-cols: 2;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-laptop-3 {
      --visible-cols: 3;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-laptop-4 {
      --visible-cols: 4;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-laptop-5 {
      --visible-cols: 5;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-laptop-6 {
      --visible-cols: 6;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-portable-1 {
      --visible-cols: 1;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-portable-2 {
      --visible-cols: 2;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-portable-3 {
      --visible-cols: 3;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-portable-4 {
      --visible-cols: 4;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-portable-5 {
      --visible-cols: 5;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-portable-6 {
      --visible-cols: 6;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-lap-1 {
      --visible-cols: 1;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-lap-2 {
      --visible-cols: 1;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-lap-3 {
      --visible-cols: 3;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-lap-4 {
      --visible-cols: 4;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-lap-5 {
      --visible-cols: 5;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-lap-6 {
      --visible-cols: 6;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-palm-1 {
      --visible-cols: 1;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-palm-2 {
      --visible-cols: 2;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-palm-3 {
      --visible-cols: 3;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-palm-4 {
      --visible-cols: 4;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-palm-5 {
      --visible-cols: 5;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-palm-6 {
      --visible-cols: 6;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-tiny-1 {
      --visible-cols: 1;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-tiny-2 {
      --visible-cols: 2;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-tiny-3 {
      --visible-cols: 3;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-tiny-4 {
      --visible-cols: 4;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-tiny-5 {
      --visible-cols: 5;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-tiny-6 {
      --visible-cols: 6;
    }
  }
  .grid--slider {
    grid-auto-flow: column;
    grid-template-columns: var(--col-size);
    grid-auto-columns: var(--col-size);
    position: relative;
  }
  .grid--layout {
    grid-template-columns: repeat(var(--visible-cols), var(--col-size));
    position: relative;
  }

  @media screen and (max-width: 1280px) {
    .laptop-hide {
      display: none !important;
    }
    .laptop-show {
      display: block;
    }
  }
  @media screen and (max-width: 1023px) {
    .portable-hide {
      display: none !important;
    }
    .portable-show {
      display: block;
    }
  }
  @media screen and (max-width: 767px) {
    .lap-hide {
      display: none !important;
    }
    .lap-show {
      display: block;
    }
  }
  @media screen and (max-width: 474px) {
    .palm-hide {
      display: none !important;
    }
    .palm-show {
      display: block;
    }
  }
  @media screen and (max-width: 374px) {
    .tiny-hide {
      display: none !important;
    }
    .tiny-show {
      display: block;
    }
  }
  .grid--gap-small {
    --col-gap: 18px;
  }

  .grid--gap-large {
    --col-gap: calc(var(--gutter-xlarge) * 0.6);
  }

  .grid--gap-xlarge {
    --col-gap: calc(var(--gutter-xlarge) * 0.8);
  }

  .grid--gap-none {
    --col-gap: 0px;
  }

  .grid--gap-bottom {
    row-gap: var(--gutter-xlarge);
  }

  .grid--no-stretch {
    align-items: start;
  }

  .grid-offset-1 {
    grid-column-start: span 1;
  }

  .grid-offset-2 {
    grid-column-start: span 2;
  }

  .grid-offset-3 {
    grid-column-start: span 3;
  }

  .grid-offset-4 {
    grid-column-start: span 4;
  }

  .grid-offset-5 {
    grid-column-start: span 5;
  }

  .grid-offset-6 {
    grid-column-start: span 6;
  }

  @media screen and (max-width: 1280px) {
    .grid-offset-laptop-1 {
      grid-column-start: span 1;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-offset-laptop-2 {
      grid-column-start: span 2;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-offset-laptop-3 {
      grid-column-start: span 3;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-offset-laptop-4 {
      grid-column-start: span 4;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-offset-laptop-5 {
      grid-column-start: span 5;
    }
  }
  @media screen and (max-width: 1280px) {
    .grid-offset-laptop-6 {
      grid-column-start: span 6;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-offset-portable-1 {
      grid-column-start: span 1;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-offset-portable-2 {
      grid-column-start: span 2;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-offset-portable-3 {
      grid-column-start: span 3;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-offset-portable-4 {
      grid-column-start: span 4;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-offset-portable-5 {
      grid-column-start: span 5;
    }
  }
  @media screen and (max-width: 1023px) {
    .grid-offset-portable-6 {
      grid-column-start: span 6;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-offset-lap-1 {
      grid-column-start: span 1;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-offset-lap-2 {
      grid-column-start: span 2;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-offset-lap-3 {
      grid-column-start: span 3;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-offset-lap-4 {
      grid-column-start: span 4;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-offset-lap-5 {
      grid-column-start: span 5;
    }
  }
  @media screen and (max-width: 767px) {
    .grid-offset-lap-6 {
      grid-column-start: span 6;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-offset-palm-1 {
      grid-column-start: span 1;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-offset-palm-2 {
      grid-column-start: span 2;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-offset-palm-3 {
      grid-column-start: span 3;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-offset-palm-4 {
      grid-column-start: span 4;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-offset-palm-5 {
      grid-column-start: span 5;
    }
  }
  @media screen and (max-width: 474px) {
    .grid-offset-palm-6 {
      grid-column-start: span 6;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-offset-tiny-1 {
      grid-column-start: span 1;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-offset-tiny-2 {
      grid-column-start: span 2;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-offset-tiny-3 {
      grid-column-start: span 3;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-offset-tiny-4 {
      grid-column-start: span 4;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-offset-tiny-5 {
      grid-column-start: span 5;
    }
  }
  @media screen and (max-width: 374px) {
    .grid-offset-tiny-6 {
      grid-column-start: span 6;
    }
  }
  .grid--flippable {
    grid-template-areas: "left right";
  }
  @media screen and (max-width: 767px) {
    .grid--flippable {
      grid-template-areas: "left" "right";
    }
  }
  .grid--flippable-flipped {
    grid-template-areas: "right left";
  }
  @media screen and (max-width: 767px) {
    .grid--flippable-flipped {
      grid-template-areas: "left" "right";
    }
  }
  .grid--flippable > div:first-child {
    grid-area: left;
  }
  .grid--flippable > div:last-child {
    grid-area: right;
  }

  product-bundler{
    .tab-item-grid{
      display: flex;
      align-items: center;
      margin: 0 0px 32px;
      column-gap: 40px;
      justify-content: center;
      @media screen and (max-width: 990px){
        column-gap: initial;
        justify-content: space-evenly;
      }
      .tab-item {
          padding: 0px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #000;
          font-family: Zurich Extended;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 17.6px;
          @media screen and (max-width: 990px){
            flex-direction: column;
            font-size: 18px;
            text-align: center;
            max-width: 90px;
            row-gap: 12px;
          }
          
          .number {
            max-width: 39px;
            min-width: 39px;
            height: 39px;
            flex: 39px;
            font-size: 17.798px;
            line-height: normal;
            border: 2px solid #ECB3FF;
            border-radius: 50%;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @media screen and (max-width: 990px){
              margin-right: 0px;
            }
        }
      }
      
      .tab-item.active .number {
        background-color: #ECB3FF;
        border: 2px solid #ECB3FF;
    }
    .tab-item.disabled {
      opacity: 1;
      pointer-events: none;
  }
    }

    .button-actions-wrapper{
      display: block;
      width: 100%;
      grid-column: span 3;
      @media screen and (max-width: 1023px) {
        grid-column: span 2;
      }
      @media screen and (max-width: 767px) {
        grid-column: span 1;
      }
      --color-button-background: 192, 153, 255;
      .btn-action{
        .push-btn-surface{
          min-width: 230px;
          color: white;
          padding-block: 17px;
          @media screen and (max-width: 1023px) {
            min-width: initial;
            padding-block: 14px;
          }
        }
      }
      .btn-action.not-able{
        display: none;
      }
      .btn-bg-secondary{
        --color-button-background: 153, 215, 231;
        .push-btn-surface{
          color: black;
        }
      }

      .btn-action[disabled]{
        --color-button-background: 222, 222, 222;
        .push-btn-surface{
          color: #9F9F9F;
        }
      }
    }
  }

  .main-section-container{
    width: 100%;
    @media screen and (min-width: 768px){
      .bundler-container{
        position: sticky;
        top: 20px;;
      }
    }

    @media screen and (max-width: 767px){
      .bundler-container{
        position: sticky;
        bottom: 20px;
        z-index: 20;
      }
    }
    .product-tile-bundle{
      //product badge
      .badge-product-tile{
        min-width: 78px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #FFF;
        text-align: center;
        font-family: Avenir Next;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 22px;
        background: #000;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 11;
        display: none;
      }
      //arrow slider 
      .arrow-slider{
        position: absolute;
        z-index: 11;
        cursor: pointer;
        top: 50%; /* Position the span at the vertical center */
        transform: translateY(-50%);
      }
      
      .left-button-arrow{
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
      }
      .right-button-arrow{
        right: 10px;
      }

      div[class^="sticker-metafield-sticker--"], div[class^="sticker-sold-out-sticker--"]{
        top: 50px !important;
        left: 95% !important;
        transform: rotate(5deg) translate(-50%, -50%) !important;
      }
      
      .custom-font-price{
        font-size: 16px;
      }
      s[data-compare-price]{
        color: rgba(28, 28, 28, 0.51);
        font-size: 16px;
        top: -0.5px;
        position: relative;
      }
      .price-with-rating-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-part-inner{
          display: flex;
          align-items: center;
          column-gap: 10px;
        }
        
        .rating-part-inner{
          .loox-rating-content{
            .loox-icon{
              width: 14px;
              height: 14px;
              color: #000;
            }
            .loox-rating-label{
              color: #1C1C1C;
              font-size: 14px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
      .product-container-options{
        margin-top: 16px;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        row-gap: 19px;
      }
      .product-bundle-quick-buy-container{
        .element-container{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 7px;
          .option-container{
            display: flex;
            align-items: center;
            column-gap: 10px;
            .option-text-part{
              font-family: Avenir Next;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
            }
            .option-value-part{
              color: #000;
              font-family: Avenir Next;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
            }
          }
          .option-values-container{
            column-gap: 9px;
            .variant-input-swatch{
              width: 38px;
              height: 38px;
            }
            .color-swatch-option{
              padding: 0px;
              box-shadow: none;
              outline: none;
              background: none;
              width: 38px;
              height: 38px;
              border-radius: 50%;
              overflow: hidden;
              border: 2px solid #DFDFDF;

              .button-hundler-option {
                padding: 0px;
                box-shadow: none;
                outline: none;
                display: block;
                height: 100%;
                width: 100%;
                &:after{
                  display: none;
                }
              }
            }
            .color-swatch:checked + .color-swatch-option{
              border-color: #000;
            }

            .label-swatch-button{
              color: #000;
              text-align: center;
              font-family: Avenir Next;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding-top: 8px;
              padding-bottom: 7px;
              padding-inline: 13px;
              border-radius: 10px;
              min-width: 76px;
              border: 1.5px solid #DFDFDF;
              background: rgba(255, 255, 255, 0.50);
              box-shadow: none;
            }
            .button-swatch:checked + .label-swatch-button{
              border-color: #000;
            }
          }
        }
      }

      .btn-add-to-set{
        --color-button-background:192, 153, 255;
        --button-border-width: 1.5px;
        .push-btn-surface{
          padding-block: 15px;
          color: #FFF;
          font-size: 20px;
          cursor: pointer;
          @media screen and (max-width: 1023px) {
            padding-block: 14px;
          }
        }
      }
      .btn-add-to-set[disabled=true]{
        --color-button-background: 222, 222, 222;
        .push-btn-surface{
          color: #9F9F9F;
        }
      }
    }
  }

  //right side

  @media screen and (min-width: 768px){
    .sticky-position{
      position: sticky;
      top: 20px;
    }
  }
  .bundle-cart-container{
    padding: 31px 27px 28px 23px;
    border-radius: 11px;
    border: 2px solid #000;
    background: #F7DEFF;
    @media screen and (max-width: 767px){
      padding: 18px 20px 20px 20px;
    }
    .bundler__header{
      .bundler__header__inner{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @media screen and (max-width: 767px){
          row-gap: 2px;
        }
      }
      .bundler__header-title{
        color: #000;
        font-family: Zurich Extended;
        font-size: 19.299px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @media screen and (max-width: 767px){
          font-size: 16px;
        }
      }
      .bundler__header-subtitle{
        color: #000;
        font-family: Avenir Next;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        @media screen and (max-width: 767px){
          font-size: 14px;
        }
      }
    }
    .bundler__footer{
      .bundle__footer-note{
        color: #000;
        font-family: Avenir Next;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
        text-align: left;
        @media screen and (max-width: 767px){
          display: none;
        }
      }
      .btn-action{
        width: 100%;
        .push-btn-surface{
          min-width: 100%;
        }
      }
    }
    .starter-selection{
      border-block: 1px solid #000;
      margin-top: 20px;
      margin-bottom: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      
      @media screen and (max-width: 767px){
        border-bottom: none;
        padding-bottom: 0px;
        flex-direction: initial;
        column-gap: 15px;
        flex-wrap: nowrap;
        margin-top: 15px;
        padding-top: 15px;
      }
      .set-item{
        @media screen and (max-width: 767px){
          min-width: 234px;
          .sticker-on-sale-sticker--0{
            top: 72%;
            left: -6%;
          }
        }
      }
      .set-item:not([data-set-index="-1"]){
        display: none;
      }
      .set-item.selected{
        .placeholder-item{
          display: none;
        }
      }
      .set-item:not(.selected){
        div[js-selected-product]{
          display: none;
        }
      }

      .set-item {
        .gift-product-item{
          .product-media{
            background-color: #C099FF;
          }
        }
        .product-line-item{
          display: flex;
          column-gap: 14px;
          @media screen and (max-width: 767px){
            column-gap: 11px;
          }
          .product-media{
            border-radius: 3px;
            border: 1.5px solid #000;
            width: 96px;
            height: 96px;
            @media screen and (max-width: 767px){
              width: 77px;
              height: 77px;
            }
            aspect-ratio: 1;
            .product-image{
              width: 100%;
              height: 100%;
              overflow: hidden;
            }
            .product-image img{
              width: 100%;
              height: 100%;
            }
          }
          .product-details{
            display: flex;
            row-gap: 5px;
            flex-direction: column;
            padding-top: 2px;
            @media screen and (max-width: 767px){
              row-gap: 2px;
            }
            .set-title{
              color: #000;
              font-family: Avenir Next;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              // @media screen and (min-width: 768px) and (max-width: 1320px){
              //   font-size: 15px;
              // }
              @media screen and (max-width: 767px){
                font-size: 15px;
              }
            }
            .set-options{
              color: #000;
              font-family: Avenir Next;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media screen and (max-width: 767px){
                font-size: 13px;
              }
            }
            .set-price{
              color: #000;
              font-family: Avenir Next;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media screen and (max-width: 767px){
                font-size: 13px;
              }
            }

            .set-action{
              color: rgba(0, 0, 0, 0.50);
              font-family: Avenir Next;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              cursor: pointer;
              margin-top: 4px;
              @media screen and (max-width: 767px){
                margin-top: 2px;
              }
            }
          }
        }

        .placeholder-item {

          .product-details{
            .set-title{
              color: #7C6F80;
            }
          }
        }
      }
    }

    @media screen and (max-width: 767px){
      

    }
    @media screen and (min-width: 768px){
      scroll-wrapper-slider{
        overflow: visible !important;
        .inner_container_items{
          overflow: visible !important;
        }
      }      

    }

    
  }

  //working on tab panel
  .tab-panel{
    display: none;
  }
  .tab-panel.active-panel{
    display: grid;
  }
}
