.logo-list-v2-section {
  --max-site-width: 1450px;
  border-top: none;

  .icon_content_container_wrapper{
    @media (min-width: 990px) {
      width: calc(100% - 16.25rem);
      position: relative;
      .rdc-vp-more{
        top: 0px;
      }
      .rdc-vp-more svg{
        width: 16px;
      }
      .content_icon_container{
        width: 100%;
        overflow-x: auto;
        position: relative;
        overflow-y: hidden;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          height: 0px;
          width: 0px;
        }
      }
    } 
  }
  .logo-list-wrapper {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    @media (min-width: 990px) {
      padding-right: 5rem;
    } 
    .heading-section {
      font-weight: bold;
      @media (min-width: 990px) {
        min-width: 16.25rem;
        width: 16.25rem;
        border-right: 1px solid #000;
        vertical-align: middle;
        line-height: 42px;
      } 
    }
    .icons-list-ul{
      @media (min-width: 990px) {
        column-gap: 2.5rem;
        justify-content: start;
      }
      .icons-list-item{
        @media (min-width: 990px) {
          margin: 0px;
        }
      }
      .icons-list-item img{
        filter: opacity(50%) grayscale(100%);
        @media (min-width: 990px) {
          width: 100%;
          min-width: 125px;
        }
      }
    }
    @media (max-width: 989px) {
      flex-direction: column;
      column-gap: 20px;
      align-items: start;
      row-gap: 40px;
      .icons-list-ul{
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 25px;
        .icons-list-item{
          width: 30%;
          margin: 0px;
          padding: 2%;
        }
      }
    }
  }
}
