.popup-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 17, 17, 0.61);
  display: flex;
  align-items: center;
}
.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 350px;
  min-width: 250px;
  .option-values-container{
    .variant-input-swatch{
      display: inline-block !important;
    }
  }
}
.popup-content p{
  font-size: 17px;
  padding: 10px;
  line-height: 20px;
}
.popup-content a.close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration:none;
  top: -5px;
  position: relative;
}

.popup-content a.close:hover{
color:#333;
}

.popup-content span:hover,
.popup-content span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.visible-popup.popup-container:target{
visibility: visible;
opacity: 1;
transform: scale(1);
z-index: 999;
}

.popup-container h3{
margin-bottom: 20px;
}
/*End popup styles*/