scroll-wrapper-slider {
    display: block;
    position: relative;
    width: 100%;
    overflow-x: auto;
  
    .inner_container_items{
      width: 100%;
      overflow-x: auto;
      position: relative;
      overflow-y: hidden;
      scroll-behavior: smooth;
      flex-wrap: nowrap;
    }
  
    .arrow-slider{
      position: absolute;
      z-index: 11;
      cursor: pointer;
      visibility: hidden;
      width: 20px;
      height: 38px;
      display: flex;
        align-items: center;
       
        background-color: white;
    }
  
    .left-button{
        left: 0px;
        justify-content: flex-start;
        transform: rotate(0deg);
      svg{
          transform: rotate(180deg);
      }
    }
  
    .right-button{
        right: 0px;
        justify-content: flex-end;
    }
    &.without-arrows{
      .arrow-slider{
        display: none !important;
      }
    }
    &.without-scroll .inner_container_items{
      &::-webkit-scrollbar {
          display: none;
      }
    }
  }
