.rdc-vp-inner {
  -moz-column-gap: 15px;
       column-gap: 15px;
  @media only screen and (max-width: 768px) {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.rdc-vp-fieldset-wrapper {
  position: relative;
}

@media only screen and (max-width: 989px) {
  .template-product {
    .rdc-product-page-details{
      row-gap: 1.25rem;
    }
    overflow-x: hidden;
    #MainContent {
      overflow: hidden;
    }

    .rdc-product-media-main-wrapper{
        padding-top: var(--section-x-padding);
        padding-left: var(--section-x-padding);
        padding-right: var(--section-x-padding);
    }
  }
}




  .rdc-product-media-inner.displayleft-to-right {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
    @media only screen and (max-width: 989px) {
        -moz-column-gap: 10px;
             column-gap: 10px;
        flex-direction: row-reverse;
    }

    .rdc-product-media-viewer {
      flex-grow: 1;
      order: 2;
      height: -moz-fit-content;
      height: fit-content;
      width: 100%;
    }
    .viewer-container {
      flex-grow: 1;
      order: 2;
      aspect-ratio: 1;
      height: auto;
      width: 100%;
    }
    .container--thumbnail {
      width: 25%;
      height: -moz-fit-content;
      height: fit-content;
      position: relative;
      
      @media only screen and (max-width: 989px) {
        width:6.875rem;
      }

      @media only screen and (max-width: 600px) {
        width:3.5rem;
      }

      .thumbnails-overflow-indicator-bottom {
        transform: rotateX(180deg);
      }
    }
    .rdc-product-media-thumbnails {
      width: 100%;
      padding: 0px;
      overflow-y: scroll;
      display: block;


      .rdc-pm-thumbnail {
        margin-right: 0px;
        max-width: initial;
        max-height: initial;
        margin-bottom: 15px;
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
        aspect-ratio: 1;
        @media only screen and (max-width: 989px) {
            margin-bottom: 10px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }


    .rdc-product-media-thumbnails::-webkit-scrollbar {
        height: 2px;
        width: 0px;
      }
    
      /* Track */
      .rdc-product-media-thumbnails::-webkit-scrollbar-track {
        background: #DFDFDF;
      }
    
      .rdc-product-media-thumbnails::-webkit-scrollbar-button {
        display: none; /* Hide the scrollbar buttons */
      }
    
      .rdc-product-media-thumbnails::-webkit-scrollbar-thumb {
        background:#000;
      }
  }



.template-product {
  .product-block{
    margin-top: 1.55rem;
  }
  .product-block-collapsible-tab+.product-block-collapsible-tab{
    margin-top: 0px;
  }
  .product-block-title {
    margin-top: 0px;
    margin-bottom: -8px;
    .heading-template {
      @media only screen and (min-width: 990px) {
        font-size: calc(var(--template-heading-size) * 0.8);
        /*line-height: 0.75;*/
      }
      @media only screen and (max-width: 989px) {
        font-size: 24px;
        /*line-height: 0.75;*/
      }
    }
  }
  .block-with-rich-text p {
    margin-bottom: 0;
    line-height: 20px;
    @media only screen and (max-width: 998px) {
      font-size: 17px;
    }
  }
  .block-with-rich-text .icon-container {
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 13px;
  }
  .icon-container svg{
    height: 22px;
  }
  .rdc-variant-desc {
    /*text-transform: uppercase;
    margin-top: -0.7rem;*/
  }
  .rdc-vp-fieldset-wrapper {
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    .rdc-vp-inner {
      flex-wrap: nowrap;
      .variant-input-without-image {
        .cursor-pointer.btn {
          padding: 4px;
          border-radius: 10px;
         /* border: 1px solid #000;
          box-shadow: none;*/
          .btn{
            /*box-shadow: none;*/
            &::after{
              display: none;
            }
          }
        }
        .color-swatch:checked + .cursor-pointer {
         /* border-width: 2px;*/
        }
        .rdc-imgvariant-picker {
          /*border: none;*/
        }
      }

      .variant-input-with-image {
        width: 70px;
        height: 70px;
        .cursor-pointer.btn {
          padding: 0px;
          border-radius: 10px;
          border: 1.5px solid #dfdfdf;
          box-shadow: none;
        }
        .color-swatch:checked + .cursor-pointer {
          border-color: #000;
        }
        .rdc-imgvariant-picker {
          border: none;
        }
      }
    }
  }
  .rdc-vp-fieldset-wrapper {
    
    /* padding-bottom: 10px; */
    
  }

  .rdc-vp-fieldset-wrapper::-webkit-scrollbar {
    height: 2px;
  }

  /* Track */
  .rdc-vp-fieldset-wrapper::-webkit-scrollbar-track {
    background: #DFDFDF;
  }

  .rdc-vp-fieldset-wrapper::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons */
  }

  .rdc-vp-fieldset-wrapper::-webkit-scrollbar-thumb {
    background:#000;
  }
  
  .rdc-vp-fieldset-wrapper::-webkit-scrollbar-track {
    margin: 0px !important;
  }
  
  .onSlateProduct {
    color: #f05096;
  }
  .comparePricePdp {
    text-decoration: line-through;
    margin-left: 12px;
  }

  .product-bloc-box-container {
    border-radius: 10px;
    border: 1.5px solid #000;
    padding: 14px 21px;
    .text-item-block {
      margin-bottom: 0;
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }

  .buy-button-with-quantity-wrapper{
    display: flex;
    -moz-column-gap: 26px;
         column-gap: 26px;
    align-items: center;
    .product-block-buy-buttons-quantity{
        margin-top: 0px;
        &:first-child{
            width: 75%;
        }
        &:nth-child(2){
            transform: scale(0.9);
            flex: auto;
        }
    }
    @media only screen and (max-width: 500px) {
      justify-content: space-between;
      -moz-column-gap: 0px;
           column-gap: 0px;
      .product-block-buy-buttons-quantity{
        &:nth-child(2){
            transform: scale(0.65);
        }
    }
    .rdc-atc-btn{
      font-size: 16px;
    }
    }
  }
}

.price_with_rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .loox-rating {
        .loox-rating-label{
            -moz-column-gap: 4px;
                 column-gap: 4px;
            align-items: center;
            font-size: 15px;
        }    
    }
}
.input-autre-option{
  background-color: transparent;
}
.variant-input{
  .rdc-variant-picker:checked + .input-autre-option {
    background-color: rgb(var(--color-button-background));
  }
  .intialButtonStyle{
    background-color: rgb(var(--color-button-background));
  }
}
.product-block-variant-picker{
  margin-top: 1.9rem !important;
  .product-block {
    margin-top: 1.75rem !important;
  }
}

.product-block-compolimnetary{
  padding-top: 1rem;
}

.product-block-text.text-sm{
    @media only screen and (max-width: 998px) {
      font-size: 17px;
    }
  }
  .template-product{
  .block-with-rich-text:not(:first-child) {
    margin-top: 1.3rem !important;
  }
} 
.template-product icon-links-slider{
  display: block;
  position: relative;
}
.faq-section-main{
    .card-container{
        p{
            min-height: 20px;
        }
    }
}
.before-after-image-section {
    .splide__track {
        overflow: visible;
    }

    .font-heading{
        @media only screen and (max-width: 600px) {
            font-size: calc(var(--base-heading-size) * .8);
        }
    }
}

before-after-slider {
    .container-images {
        position: relative;
        width: 100%;
        height: 100%;

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 900px 100%;
        }
        .tag-status{
            padding: 11px 20px;
            border-radius: 10px;
            border: 1px solid #000;
            background: #F9F9F9;
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 1;
            color: #000;
            z-index: 4;
            @media only screen and (max-width: 600px) {
                padding: 7px 10px;
                font-size: 13px;
                left: 5px;
                bottom: 5px;
            }
        }
        .after-status{
            left: initial;
            right: 15px; 
            z-index: 2;
            @media only screen and (max-width: 600px) {
                right: 5px;
            }
        }
        .background-img{
            width: 100%;
            background-size:100% ;
            border-radius: inherit;
        }
        .foreground-img {
            width: 50%;
            background-size: cover;
            z-index: 3;
            overflow: hidden;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        input[type='range'] {
            -webkit-appearance: none;
            width: 100%;
            border-radius: 8px;
            height: 7px;
            border: 1px solid #bdc3c7;
            background-color: #bdc3c7;
            outline: none !important;
            outline: 0;
            -webkit-tap-highlight-color: none;
            height: 100%;
            z-index: 999;
            position: absolute;
            opacity: 0;
          }
          input[type='range']::focus {
            background-color: darkblue;
          }
          input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: #ecf0f1;
            border-radius: 50%;
            border: 1px solid #bdc3c7;
            width: 20px;
            height: 20px;
            cursor: ew-resize;
          }
          /*Mozilla*/
          .firefox input[type='range']::-moz-range-track {
            border-radius: 50%;
            height: 10px;
            background-color: #fff;
          }
          .firefox input[type='range']::-moz-range-thumb {
            background-color: #ecf0f1;
            border-radius: 50%;
            border: 1px solid #bdc3c7;
            width: 20px;
            height: 20px;
            cursor: ew-resize;
          }
          /*Microsoft*/
          input[type="range"]::-ms-fill-lower,
          input[type="range"]::-ms-fill-upper {
            background: transparent;
          }
          input[type="range"]::-ms-track {
              border-radius: 8px;
            height: 7px;
            border: 1px solid #bdc3c7;
            background-color: #fff;
          }
          input[type="range"]::-ms-thumb {
            background-color: #ecf0f1;
            border: 1px solid #bdc3c7;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            cursor: ew-resize;
          }
        .slider-button {
            pointer-events: none;
            position: absolute;
            width: 59px;
            height: 59px;
            border-radius: 50%;
            background-color: white;
            left: calc(50% - 31px);
            top: calc(50% - 28px);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            @media only screen and (max-width: 600px) {
                width: 31px;
                height: 31px;
                left: calc(50% - 16px);
                top: calc(50% - 18px);
            }
        }
    }
}
before-after-slider:not([is-active-slide]){
    display: none;
}

image-with-text-options{
    .options-main-inner{
        margin-top: 2.25rem;
        .chosen-option{
            text-transform: capitalize;
            @media only screen and (max-width: 600px) {
                font-size: calc(var(--base-heading-size) * .6);
            }
            .text-theme-basic{
                font-weight: normal;
                margin-left: 5px;
            }
        }
        
        .color-options-values{
            display: flex;
            -moz-column-gap: 15px;
                 column-gap: 15px;
            margin-top: 0.625rem;
            .color-options{
                .swatched--default-option{
                    border-width: var(--input-border-width);
                    border-color: transparent;
                    box-shadow: inset 0 0 0 var(--button-border-width) rgba(var(--color-button-border),0)
                }
                .swatched--default-option[checked-option=true]{
                    box-shadow: inset 0 0 0 var(--button-border-width) rgb(var(--color-button-border));
                }

                .swatched--default-option[available-option=false]{
                    pointer-events: none;
                    cursor: not-allowed;
                    opacity: 0.5;
                    display: none;
                    .btn{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .comparison-table tr th,.comparison-table tr td{
        width: 30vw;
    }
    .comparison-table tr th:first-child,
    .comparison-table tr td:first-child {
        width: 61vw;
    }
    .comparison-table .heading-secondary{
        font-size: 14px;
    }
}
.social-banner-container{
    .social-prof-wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        .images-container{
            height: 25px;
        }
        .Wearing__Avatars{
            display: inline-flex;
            align-items: center;
            margin-right: 8px;
            .Wearing__Avatar{
                overflow: hidden;
                position: relative;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                min-width: 25px;
                border: 0.5px solid #000;;
                background: #efefef;
                .image__cirlce{
                    box-sizing: border-box;
                    display: block;
                    overflow: hidden;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    img{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        box-sizing: border-box;
                        padding: 0;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                        -o-object-fit: cover;
                           object-fit: cover;
                    }
                }
                &:not(:first-child){
                    margin-left: -9px;
                }
            }
        }
        .text_wrapper{
            @media only screen and (max-width: 380px) {
                font-size: 16px;
            }
        }
    }
}
.logo-list-v2-section {
  --max-site-width: 1450px;
  border-top: none;

  .icon_content_container_wrapper{
    @media (min-width: 990px) {
      width: calc(100% - 16.25rem);
      position: relative;
      .rdc-vp-more{
        top: calc(50% - 17px);
      }
      .rdc-vp-more svg{
        width: 16px;
      }
      .content_icon_container{
        width: 100%;
        overflow-x: auto;
        position: relative;
        overflow-y: hidden;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          height: 0px;
          width: 0px;
        }
      }
    } 
  }
  .logo-list-wrapper {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
    @media (min-width: 990px) {
      padding-right: 5rem;
    } 
    .heading-section {
      font-weight: bold;
      @media (min-width: 990px) {
        min-width: 16.25rem;
        width: 16.25rem;
        border-right: 1px solid #000;
        vertical-align: middle;
        line-height: 42px;
      } 
    }
    .icons-list-ul{
      @media (min-width: 990px) {
        -moz-column-gap: 2.5rem;
             column-gap: 2.5rem;
        justify-content: start;
      }
      .icons-list-item{
        @media (min-width: 990px) {
          margin: 0px;
        }
      }
      .icons-list-item img{
        filter: grayscale(100%);
        @media (min-width: 990px) {
          width: 100%;
          min-width: 125px;
        }
      }
    }
    @media (max-width: 989px) {
      flex-direction: column;
      -moz-column-gap: 20px;
           column-gap: 20px;
      align-items: start;
      row-gap: 40px;
      .icons-list-ul{
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 25px;
        .icons-list-item{
          width: 30%;
          margin: 0px;
          padding: 2%;
        }
      }
    }
  }
}

.line-item-product-gift a:not(.rdc-other-cb) {
  pointer-events: none;
}
.line-item-product-gift .quantity-selector-inputs {
  display: none;
}

.section-build-your-bundle-main :root {
  --gutter-small: 15px;
  --gutter-regular: 25px;
  --gutter-large: 50px;
  --gutter-xlarge: 80px;
  --gutter-container: 40px;
  --gutter-breadcrumbs: -35px;
  --sidebar-width: 420px;
  --sidebar-gutter: 30px;
  --full-height: 100vh;
  --button-padding: 0.875rem 0.9375rem;
  --input-padding: 0.75rem;
  --button-product: 3.75rem;
  --header-vertical-space: 30px;
  --container-vertical-space: var(--container-vertical-space-base);
  --grid-gap: var(--grid-gap-original-base);
  --color-background-cards: var(--color-background-main);
  --color-text-cards: var(--color-text-main);
  --color-foreground-cards: var(--color-foreground-main);
  --color-secondary-text-cards: var(--color-secondary-text-main);
  --color-accent-cards: var(--color-text-main);
  --color-foreground-accent-cards: var(--color-foreground-main);
  --color-borders-cards: var(--color-borders-main);
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main :root {
    --gutter-small: 12px;
    --gutter-regular: 20px;
    --gutter-large: 35px;
    --gutter-xlarge: 60px;
    --gutter-breadcrumbs: -40px;
    --container-vertical-space: calc(
      var(--container-vertical-space-base) * 0.8
    );
    --grid-gap: calc(var(--grid-gap-original-base) * 0.8);
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main :root {
    --gutter-small: 9px;
    --gutter-regular: 15px;
    --gutter-large: 25px;
    --gutter-xlarge: 40px;
    --gutter-container: 30px;
    --gutter-breadcrumbs: -50px;
    --sidebar-width: 375px;
    --sidebar-gutter: 20px;
    --header-vertical-space: 20px;
    --container-vertical-space: calc(
      var(--container-vertical-space-base) * 0.6
    );
    --grid-gap: calc(var(--grid-gap-original-base) * 0.5);
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main :root {
    --button-padding: 0.6875rem 0.5625rem;
    --input-padding: 0.5rem;
    --button-product: 3.125rem;
    --gutter-container: 20px;
    --gutter-breadcrumbs: -50px;
    --header-vertical-space: 15px;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main :root {
    --sidebar-width: 100%;
    --gutter-container: 15px;
  }
}
.section-build-your-bundle-main .grid {
  --col-gap: var(--grid-gap);
  --col-size: calc(
    (100% - var(--col-gap) * (var(--visible-cols) - 1)) / var(--visible-cols)
  );
  display: grid;
  align-items: start;
  grid-gap: var(--col-gap);
}
.section-build-your-bundle-main .grid--justify-center {
  justify-content: center;
}
.section-build-your-bundle-main .grid--justify-space-between {
  justify-content: end;
}
.section-build-your-bundle-main .grid--align-items-center {
  align-items: center;
}
.section-build-your-bundle-main .grid--align-items-stretch {
  align-items: stretch;
}
.section-build-your-bundle-main .grid-1 {
  --visible-cols: 1;
}
.section-build-your-bundle-main .grid-2 {
  --visible-cols: 2;
}
.section-build-your-bundle-main .grid-3 {
  --visible-cols: 3;
}
.section-build-your-bundle-main .grid-4 {
  --visible-cols: 4;
}
.section-build-your-bundle-main .grid-5 {
  --visible-cols: 5;
}
.section-build-your-bundle-main .grid-6 {
  --visible-cols: 6;
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-laptop-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-laptop-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-laptop-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-laptop-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-laptop-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-laptop-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-portable-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-portable-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-portable-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-portable-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-portable-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-portable-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-lap-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-lap-2 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-lap-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-lap-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-lap-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-lap-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-palm-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-palm-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-palm-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-palm-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-palm-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-palm-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-tiny-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-tiny-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-tiny-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-tiny-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-tiny-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-tiny-6 {
    --visible-cols: 6;
  }
}
.section-build-your-bundle-main .grid--slider {
  grid-auto-flow: column;
  grid-template-columns: var(--col-size);
  grid-auto-columns: var(--col-size);
  position: relative;
}
.section-build-your-bundle-main .grid--layout {
  grid-template-columns: repeat(var(--visible-cols), var(--col-size));
  position: relative;
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .laptop-hide {
    display: none !important;
  }
  .section-build-your-bundle-main .laptop-show {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .portable-hide {
    display: none !important;
  }
  .section-build-your-bundle-main .portable-show {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .lap-hide {
    display: none !important;
  }
  .section-build-your-bundle-main .lap-show {
    display: block;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .palm-hide {
    display: none !important;
  }
  .section-build-your-bundle-main .palm-show {
    display: block;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .tiny-hide {
    display: none !important;
  }
  .section-build-your-bundle-main .tiny-show {
    display: block;
  }
}
.section-build-your-bundle-main .grid--gap-small {
  --col-gap: 18px;
}
.section-build-your-bundle-main .grid--gap-large {
  --col-gap: calc(var(--gutter-xlarge) * 0.6);
}
.section-build-your-bundle-main .grid--gap-xlarge {
  --col-gap: calc(var(--gutter-xlarge) * 0.8);
}
.section-build-your-bundle-main .grid--gap-none {
  --col-gap: 0px;
}
.section-build-your-bundle-main .grid--gap-bottom {
  row-gap: var(--gutter-xlarge);
}
.section-build-your-bundle-main .grid--no-stretch {
  align-items: start;
}
.section-build-your-bundle-main .grid-offset-1 {
  grid-column-start: span 1;
}
.section-build-your-bundle-main .grid-offset-2 {
  grid-column-start: span 2;
}
.section-build-your-bundle-main .grid-offset-3 {
  grid-column-start: span 3;
}
.section-build-your-bundle-main .grid-offset-4 {
  grid-column-start: span 4;
}
.section-build-your-bundle-main .grid-offset-5 {
  grid-column-start: span 5;
}
.section-build-your-bundle-main .grid-offset-6 {
  grid-column-start: span 6;
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-offset-laptop-1 {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-offset-laptop-2 {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-offset-laptop-3 {
    grid-column-start: span 3;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-offset-laptop-4 {
    grid-column-start: span 4;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-offset-laptop-5 {
    grid-column-start: span 5;
  }
}
@media screen and (max-width: 1280px) {
  .section-build-your-bundle-main .grid-offset-laptop-6 {
    grid-column-start: span 6;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-offset-portable-1 {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-offset-portable-2 {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-offset-portable-3 {
    grid-column-start: span 3;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-offset-portable-4 {
    grid-column-start: span 4;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-offset-portable-5 {
    grid-column-start: span 5;
  }
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .grid-offset-portable-6 {
    grid-column-start: span 6;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-offset-lap-1 {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-offset-lap-2 {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-offset-lap-3 {
    grid-column-start: span 3;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-offset-lap-4 {
    grid-column-start: span 4;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-offset-lap-5 {
    grid-column-start: span 5;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid-offset-lap-6 {
    grid-column-start: span 6;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-offset-palm-1 {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-offset-palm-2 {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-offset-palm-3 {
    grid-column-start: span 3;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-offset-palm-4 {
    grid-column-start: span 4;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-offset-palm-5 {
    grid-column-start: span 5;
  }
}
@media screen and (max-width: 474px) {
  .section-build-your-bundle-main .grid-offset-palm-6 {
    grid-column-start: span 6;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-offset-tiny-1 {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-offset-tiny-2 {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-offset-tiny-3 {
    grid-column-start: span 3;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-offset-tiny-4 {
    grid-column-start: span 4;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-offset-tiny-5 {
    grid-column-start: span 5;
  }
}
@media screen and (max-width: 374px) {
  .section-build-your-bundle-main .grid-offset-tiny-6 {
    grid-column-start: span 6;
  }
}
.section-build-your-bundle-main .grid--flippable {
  grid-template-areas: "left right";
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid--flippable {
    grid-template-areas: "left" "right";
  }
}
.section-build-your-bundle-main .grid--flippable-flipped {
  grid-template-areas: "right left";
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .grid--flippable-flipped {
    grid-template-areas: "left" "right";
  }
}
.section-build-your-bundle-main .grid--flippable > div:first-child {
  grid-area: left;
}
.section-build-your-bundle-main .grid--flippable > div:last-child {
  grid-area: right;
}
.section-build-your-bundle-main product-bundler .tab-item-grid {
  display: flex;
  align-items: center;
  margin: 0 0px 32px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .section-build-your-bundle-main product-bundler .tab-item-grid {
    -moz-column-gap: initial;
         column-gap: initial;
    justify-content: space-evenly;
  }
}
.section-build-your-bundle-main product-bundler .tab-item-grid .tab-item {
  padding: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-family: Zurich Extended;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.6px;
}
@media screen and (max-width: 990px) {
  .section-build-your-bundle-main product-bundler .tab-item-grid .tab-item {
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    max-width: 90px;
    row-gap: 12px;
  }
}
.section-build-your-bundle-main product-bundler .tab-item-grid .tab-item .number {
  max-width: 39px;
  min-width: 39px;
  height: 39px;
  flex: 39px;
  font-size: 17.798px;
  line-height: normal;
  border: 2px solid #ECB3FF;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 990px) {
  .section-build-your-bundle-main product-bundler .tab-item-grid .tab-item .number {
    margin-right: 0px;
  }
}
.section-build-your-bundle-main product-bundler .tab-item-grid .tab-item.active .number {
  background-color: #ECB3FF;
  border: 2px solid #ECB3FF;
}
.section-build-your-bundle-main product-bundler .tab-item-grid .tab-item.disabled {
  opacity: 1;
  pointer-events: none;
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper {
  display: block;
  width: 100%;
  grid-column: span 3;
  --color-button-background: 192, 153, 255;
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main product-bundler .button-actions-wrapper {
    grid-column: span 2;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main product-bundler .button-actions-wrapper {
    grid-column: span 1;
  }
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-action .push-btn-surface {
  min-width: 230px;
  color: white;
  padding-block: 17px;
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-action .push-btn-surface {
    min-width: initial;
    padding-block: 14px;
  }
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-action.not-able {
  display: none;
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-bg-secondary {
  --color-button-background: 153, 215, 231;
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-bg-secondary .push-btn-surface {
  color: black;
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-action[disabled] {
  --color-button-background: 222, 222, 222;
}
.section-build-your-bundle-main product-bundler .button-actions-wrapper .btn-action[disabled] .push-btn-surface {
  color: #9F9F9F;
}
.section-build-your-bundle-main .main-section-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-build-your-bundle-main .main-section-container .bundler-container {
    position: sticky;
    top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .main-section-container .bundler-container {
    position: sticky;
    bottom: 20px;
    z-index: 20;
  }
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .badge-product-tile {
  min-width: 78px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #FFF;
  text-align: center;
  font-family: Avenir Next;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 22px;
  background: #000;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 11;
  display: none;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .arrow-slider {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  top: 50%; /* Position the span at the vertical center */
  transform: translateY(-50%);
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .left-button-arrow {
  left: 10px;
  transform: translateY(-50%) rotate(180deg);
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .right-button-arrow {
  right: 10px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle div[class^=sticker-metafield-sticker--], .section-build-your-bundle-main .main-section-container .product-tile-bundle div[class^=sticker-sold-out-sticker--] {
  top: 50px !important;
  left: 95% !important;
  transform: rotate(5deg) translate(-50%, -50%) !important;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .custom-font-price {
  font-size: 16px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle s[data-compare-price] {
  color: rgba(28, 28, 28, 0.51);
  font-size: 16px;
  top: -0.5px;
  position: relative;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .price-with-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .price-with-rating-container .price-part-inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .price-with-rating-container .rating-part-inner {
  display: none;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .price-with-rating-container .rating-part-inner .loox-rating-content .loox-icon {
  width: 14px;
  height: 14px;
  color: #000;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .price-with-rating-container .rating-part-inner .loox-rating-content .loox-rating-label {
  color: #1C1C1C;
  font-size: 14px;
  position: relative;
  top: -1px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-container-options {
  margin-top: 16px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 7px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-container .option-text-part {
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-container .option-value-part {
  color: #000;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container {
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .variant-input-swatch {
  width: 38px;
  height: 38px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .color-swatch-option {
  padding: 0px;
  box-shadow: none;
  outline: none;
  background: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #DFDFDF;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .color-swatch-option .button-hundler-option {
  padding: 0px;
  box-shadow: none;
  outline: none;
  display: block;
  height: 100%;
  width: 100%;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .color-swatch-option .button-hundler-option:after {
  display: none;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .color-swatch:checked + .color-swatch-option {
  border-color: #000;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .label-swatch-button {
  color: #000;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-inline: 13px;
  border-radius: 10px;
  min-width: 76px;
  border: 1.5px solid #DFDFDF;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .product-bundle-quick-buy-container .element-container .option-values-container .button-swatch:checked + .label-swatch-button {
  border-color: #000;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .btn-add-to-set {
  --color-button-background:192, 153, 255;
  --button-border-width: 1.5px;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .btn-add-to-set .push-btn-surface {
  padding-block: 15px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .section-build-your-bundle-main .main-section-container .product-tile-bundle .btn-add-to-set .push-btn-surface {
    padding-block: 14px;
  }
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .btn-add-to-set[disabled=true] {
  --color-button-background: 222, 222, 222;
}
.section-build-your-bundle-main .main-section-container .product-tile-bundle .btn-add-to-set[disabled=true] .push-btn-surface {
  color: #9F9F9F;
}
@media screen and (min-width: 768px) {
  .section-build-your-bundle-main .sticky-position {
    position: sticky;
    top: 20px;
  }
}
.section-build-your-bundle-main .bundle-cart-container {
  padding: 31px 27px 28px 23px;
  border-radius: 11px;
  border: 2px solid #000;
  background: #F7DEFF;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container {
    padding: 18px 20px 20px 20px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .bundler__header .bundler__header__inner {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .bundler__header .bundler__header__inner {
    row-gap: 2px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .bundler__header .bundler__header-title {
  color: #000;
  font-family: Zurich Extended;
  font-size: 19.299px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .bundler__header .bundler__header-title {
    font-size: 16px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .bundler__header .bundler__header-subtitle {
  color: #000;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .bundler__header .bundler__header-subtitle {
    font-size: 14px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .bundler__footer .bundle__footer-note {
  color: #000;
  font-family: Avenir Next;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .bundler__footer .bundle__footer-note {
    display: none;
  }
}
.section-build-your-bundle-main .bundle-cart-container .bundler__footer .btn-action {
  width: 100%;
}
.section-build-your-bundle-main .bundle-cart-container .bundler__footer .btn-action .push-btn-surface {
  min-width: 100%;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection {
  border-block: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection {
    border-bottom: none;
    padding-bottom: 0px;
    flex-direction: initial;
    -moz-column-gap: 15px;
         column-gap: 15px;
    flex-wrap: nowrap;
    margin-top: 15px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item {
    min-width: 234px;
  }
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .sticker-on-sale-sticker--0 {
    top: 72%;
    left: -6%;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item:not([data-set-index="-1"]) {
  display: none;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item.selected .placeholder-item {
  display: none;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item:not(.selected) div[js-selected-product] {
  display: none;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .gift-product-item .product-media {
  background-color: #C099FF;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item {
    -moz-column-gap: 11px;
         column-gap: 11px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-media {
  border-radius: 3px;
  border: 1.5px solid #000;
  width: 96px;
  height: 96px;
  aspect-ratio: 1;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-media {
    width: 77px;
    height: 77px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-media .product-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-media .product-image img {
  width: 100%;
  height: 100%;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .placeholder-media.product-media {
  position: relative;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .placeholder-media.product-media .plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #868686;
  text-align: center;
  font-family: Avenir Next;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  padding-top: 2px;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details {
    row-gap: 2px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-title {
  color: #000;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-title {
    font-size: 15px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-options {
  color: #000;
  font-family: Avenir Next;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-options {
    font-size: 13px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-price {
  color: #000;
  font-family: Avenir Next;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-price {
    font-size: 13px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-action {
  color: rgba(0, 0, 0, 0.5);
  font-family: Avenir Next;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .product-line-item .product-details .set-action {
    margin-top: 2px;
  }
}
.section-build-your-bundle-main .bundle-cart-container .starter-selection .set-item .placeholder-item .product-details .set-title {
  color: #7C6F80;
}
@media screen and (min-width: 768px) {
  .section-build-your-bundle-main .bundle-cart-container scroll-wrapper-slider {
    overflow: visible !important;
  }
  .section-build-your-bundle-main .bundle-cart-container scroll-wrapper-slider .inner_container_items {
    overflow: visible !important;
  }
}
.section-build-your-bundle-main .tab-panel {
  display: none;
}
.section-build-your-bundle-main .tab-panel.active-panel {
  display: grid;
}

scroll-wrapper-slider {
  display: block;
  position: relative;
  width: 100%;
  overflow-x: auto;
}
scroll-wrapper-slider .inner_container_items {
  width: 100%;
  overflow-x: auto;
  position: relative;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}
scroll-wrapper-slider .arrow-slider {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  width: 20px;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: white;
}
scroll-wrapper-slider .left-button {
  left: 0px;
  justify-content: flex-start;
  transform: rotate(0deg);
}
scroll-wrapper-slider .left-button svg {
  transform: rotate(180deg);
}
scroll-wrapper-slider .right-button {
  right: 0px;
  justify-content: flex-end;
}
scroll-wrapper-slider.without-arrows .arrow-slider {
  display: none !important;
}
scroll-wrapper-slider.without-scroll .inner_container_items::-webkit-scrollbar {
  display: none;
}

.tolstoy-carousel-title {
  font-family: var(--heading-font-stack);
}

.hide {
  display: none !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
