.rdc-vp-inner{
    -moz-column-gap: 15px;
         column-gap: 15px;
}  

.rdc-vp-fieldset-wrapper{
    position: relative;
}
@media only screen and (min-width: 768px) {
    .rdc-vp-more{
        display: none !important;
    }
}
@media only screen and (max-width: 989px) {
    .template-product{
        #MainContent{
            overflow: hidden;
        }
    }
}
.tolstoy-carousel-title {
  font-family: var(--heading-font-stack);
}

.hide {
  display: none !important;
}
