.rdc-vp-inner {
    -moz-column-gap: 15px;
         column-gap: 15px;
}

.rdc-vp-fieldset-wrapper {
    position: relative;
}

@media only screen and (min-width: 768px) {
    .rdc-vp-more {
        display: none !important;
    }
}

@media only screen and (max-width: 989px) {
    .template-product {
        #MainContent {
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 990px) {
    .rdc-product-media-inner.displayleft-to-right {
        display: flex;
        -moz-column-gap: 15px;
             column-gap: 15px;

        .rdc-product-media-viewer {
            flex-grow: 1;
            order: 2;
            height: -moz-fit-content;
            height: fit-content;
            width: 100%;
        }
        .viewer-container{
            flex-grow: 1;
            order: 2;
            aspect-ratio: 1;
            height: auto;
            width: 100%;
        }
        .container--thumbnail{
            width: 25%;
            height: -moz-fit-content;
            height: fit-content;
            position: relative;
            .thumbnails-overflow-indicator-bottom{
                transform: rotateX(180deg);
            }
        }
        .rdc-product-media-thumbnails {
            width: 100%;
            padding: 0px;
            overflow-y: scroll;
            display: block;

            .rdc-pm-thumbnail {
                margin-right: 0px;
                max-width: initial;
                max-height: initial;
                margin-bottom: 15px;
                width: 100%;
                height: -moz-fit-content;
                height: fit-content;
                aspect-ratio: 1;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }

}

.template-product{
    .product-block-title{
        .heading-template{
            @media only screen and (min-width: 990px) {
                font-size: calc(var(--template-heading-size) * 0.8);
            }
        }
    }
}
.faq-section-main{
    .card-container{
        p{
            min-height: 20px;
        }
    }
}
.tolstoy-carousel-title {
  font-family: var(--heading-font-stack);
}

.hide {
  display: none !important;
}
