/**HOME**/

/**TEMPLATE**/
.rdc-d-none {display: none}
.rdc-d-flex {display: flex}
.rdc-ai-c {align-items: center}
.rdc-ai-fs {align-items: flex-start}
.rdc-jc-sb {justify-content: space-between}
.rdc-jc-c {justify-content: center}

.rdc-ta-c {text-align: center}

.rdc-f-wrap {flex-wrap: wrap}

.rdc-ff-c {flex-flow: column}

.rdc-py-5p {padding: 5% 0}
.rdc-px-2p {padding-right: 2%; padding-left: 2%}
.rdc-p-10 {padding: 10px}
.rdc-p-20 {padding: 20px}
.rdc-p-0 {padding: 0}
.rdc-p-5p {padding: 5%}

.rdc-pl-20 {padding-left: 20px}

.rdc-mt-10p {margin-top: 10%}
.rdc-mt-0 {margin-top: 0}
.rdc-m-20 {margin: 20px}
.rdc-mt-20 {margin-top: 20px}
.rdc-mt-40 {margin-top: 40px}
.rdc-mr-10 {margin-right: 10px}
.rdc-ml-5 {margin-left: 5px}
.rdc-ml-20 {margin-left: 20px}

.rdc-mr-5 {margin-right: 5px}
.rdc-my-3 {margin: 3% 0}
.rdc-my-10px {margin: 10px 0}
.rdc-my-20 {margin-top: 20px; margin-bottom: 20px}
.rdc-mx-auto {margin-inline: auto}
.rdc-mb-0 {margin-bottom: 0}
.rdc-mb-20 {margin-bottom: 20px}

.rdc-p-relative {position: relative}
.rdc-p-absolute {position: absolute}

.rdc-oflow-h {overflow:hidden}

.rdc-w-fit {width:fit-content}
.rdc-w-full {width:100%}
.rdc-w-25 {width:25%}
.rdc-w-60 {width:60%}
.rdc-w-40 {width:40%}
.rdc-w-33 {width:33.33%}
.rdc-ws-nw {white-space: nowrap}

.rdc-h-full {height:100%}

.rdc-cursor-p {cursor: pointer} 

.rdc-o-5 {opacity:.5}

.rdc-bg-center {
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/**GENERAL**/
.rdc-section-main {padding: 5% 0}
.push-btn:after {z-index: 0}
span.push-btn-surface {z-index: 1}

/**Hero**/
.rdc-img-text-sec-img img {
    border: unset;
    border-radius: 0;
}

/* @media only screen and (max-width: 767px) {
  .padd-on-mobile{
    background-image: url(//briteorganix.myshopify.com/cdn/shop/files/hero_left_bg_700x.jpg?v=1665495566);
    padding-top: 2.5rem;
    padding-left: var(--section-x-padding);
    padding-right: var(--section-x-padding);
    padding-bottom: 2.5rem;
    border-top: 2px solid;
  }
}
 */
.rdc-img-text-sec-inner,
.template-index #shopify-section-template--14420446511188__1650891033bae15b05 > section,
.rdc-img-text-sec-inner>div{padding: 0}
.rdc-img-text-sec-inner .grid {gap: 0}

.rdc-rotating-sticker {
    position: absolute;
 top: 8%;
    right: 6%;
    z-index: 1;

}

.rdc-rotating-sticker img {
    animation: rotateRight 8s linear infinite; 
}

.rdc-rotating-sticker img{border-left: none}


.rdc-scroll-vid-display {
    width: fit-content;
    position: relative;
      height: 450px;
    width: 300px;
  background-image: url(https://cdn.shopify.com/s/files/1/0594/1529/files/brite_tiktok_img_bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.rdc-scroll-vid-display,
.rdc-scroll-vid-display img {
  border-radius: 35px;
  border: 1px solid #000;
}

.rdc-scroll-vid-display img {
    position: absolute;
    height: 450px;
    top: -10px;
    left: -8px;
    width: 300px;
  transition: all .5s;
}

.rdc-scroll-vid-display img:hover,
.rdc-scroll-vid-display img:focus,
.rdc-scroll-vid-display img:active {
    top: -2px;
    left: 0px;
/*   border: none; */
}

.rdc-scroll-vid-card {
    width: fit-content;
   margin: 20px 3% 20px 0;
}

.rdc-scroll-vid-vids {
  animation: scroll-left 25s linear infinite;
  width: fit-content;
}

.rdc-scroll-vid-modals {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
      height: 100%;
    background-color: #c79fc9de;
}

.rdc-scroll-vid-close-bg {
  position: absolute;
    width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rdc-scroll-vid-modal-inner {
    width: fit-content;
    margin-inline: auto;
  position: relative;
  padding: 20px 0;
}

.rdc-scroll-vid-modal-inner blockquote {
margin: 0;
  border-radius: 30px;
  overflow: hidden;
}
span.rdc-scroll-vid-close-btn {
    right: -5px;
    position: absolute;
    top: 30px;
    z-index: 1;
  color: #fff;
    font-size: 20px;
    font-weight: normal;
}
.rdc-scroll-vid-close-btn,
.rdc-scroll-vid-card {
  cursor: pointer;
}

.rdc-scroll-vid-vids {margin: 4% 0 2%}
.rdc-scroll-vid-main {
background-color:#D9BCEC;
}

.rdc-scroll-vid-main h2 {color: #fff}

a.rdc-scroll-vid-btn {
    margin-inline: auto;
    font-size: 20px;
display: flex;
    justify-content: center;
   width: fit-content;
}

a.rdc-scroll-vid-btn span {
     padding: 10px 40px;
/*    border-radius: 17px; */
   border: 2px solid #000;
  z-index: 1;
    box-shadow: none;
  text-transform: unset;
      font-size: 20px;
}
a.rdc-scroll-vid-btn span img {
    margin-left: 20px;
}

a.rdc-scroll-vid-btn.push-btn::after {
    border: 2px solid #000;
    top: 5px;
    position: absolute;
    width: 100%;
    left: 5px;
    height: 100%;
    z-index: 0;
/*       border-radius: 17px; */
}

img.rdc-watch-me {
    right: 20px;
    border: none;
    width: 18px;
    left: unset;
}


.rdc-sbc-cta-container {
    width: fit-content;
  align-items: center;
  white-space: nowrap;
}
.rdc-sbc-cta-container p {
    margin-right: 5%;
    white-space: nowrap;
}
.rdc-sbc-card-inner:after {
    content: "";
    position: absolute;
    border: 1px solid;
    border-radius: 30px;
    z-index: 0;
    background-color: #ffa573;
  transition: all .3s;
  width: 100%;
    height: 100%;
      left: 0;
    top: 0;
}

.rdc-sbc-card-inner:hover:after {
    left: 5px;
    top: 5px;
}


img.rdc-ten-p-star-black {
    width: 18px;
}
.rdc-scrolling-logo img {
    height: 40px;
}

.rdc-pause-anim,
.rdc-scroll-vid-vids:hover {
    -moz-animation-play-state: paused !important;
-webkit-animation-play-state: paused !important;
animation-play-state: paused !important;
}

/***SHOP BY COLLECTIONS***/
.rdc-sbc-main,
.feedback-scroll-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rdc-sbc-cards {
    justify-content: center;
}
.rdc-sbc-card {
    max-width: 320px;
    padding: 15px;
  width: 25%;

}
.rdc-sbc-card-inner {
    position:relative;
}

.rdc-sbc-card a {
    display: flex;
    flex-flow: column;
    position: relative;
  z-index: 1;
}
.rdc-sbc-card h3 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
/*     white-space: nowrap; */
    color: #fff;
    font-size: 20px;
      font-weight: 700;
    text-align: center;
    width: fit-content;
}

.rdc-sbc-card a {
    display: flex;
    flex-flow: column;
    position: relative;
    border: 1px solid;
    border-radius: 30px;
    overflow: hidden;
}


.rdc-scrolling-text-t p {
    font-size: 40px;
    white-space: nowrap;
    font-weight: 700;
}
.rdc-scrolling-text-t .rdc-invert {
    rotate: 180deg;
}
.rdc-scrolling-text-inner {
  width:fit-content;
animation: scroll-left-text 20s linear infinite;
}

.rdc-scrolling-logos-items {
   width:fit-content;
  animation: scroll-left-text 30s linear infinite;
}

img.rdc-ten-p-star-black {
    width: 12px;
  margin: 20px;
}
.rdc-scrolling-logos-inner,
.rdc-scrolling-text {
    overflow: hidden;
  display: flex;
}

.rdc-scrolling-text-img {
    width: 80px;
  
}

.rdc-scrolling-logo img {
    height: 40px;
    max-width: unset;
}
.rdc-scrolling-logo-text p {
    white-space: nowrap;
    font-size: 25px;
    font-weight: 700;
}
.rdc-scrolling-logo-text {
    margin-right: 10px;
}

.feedback-scroll-text {
    width: 60%;
    align-items: center;
    display: flex;
    flex-flow: column;
}
.feedback-scroll-image {
  width: 40%;
   justify-content: center;
    display: flex;
}
.feedback-scroll-image img {
  max-width: 400px;
  width: 90%;
}

.feedback-scroll-content-inner span:first-child {font-size: 3.3vw}
.feedback-scroll-content-inner span:last-child {font-size: 4.2vw}

.feedback-scroll-logo {margin-top: 5%}

.feedback-scroll-logo img {
  margin-right: 60px;
  height: 22px;
  opacity: .2;
  cursor: pointer;
}
.feedback-scroll-logo img.rdc-active-logo {
    height: auto;
animation: opacityActive 1s linear;
  opacity: 1;
  max-height: 35px;
}

.sliding-columns-box-img img {
    width: 100%;
}

.sliding-columns-box {opacity: .5}
.sliding-columns-box.rdc-active-col {opacity: 1}
.rdc-transition {transition: all 1s}

.sliding-columns-box {padding: 30px}

.sliding-columns-box-img {
    display: flex;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    border: 2px solid #C69AE2;
}

.sliding-columns-box-img h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
}

.sliding-col-btn-outer {
  position: absolute;
    right: 3%;
    top: 35%;
  z-index: 1;
      width: 40px;
    height: 40px;
}

.sliding-col-btn {
    border-radius: 100%;
    border: 1px solid #000;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #D9BCEC;
z-index: 0;
      filter: brightness(1);
  cursor: pointer;
  position: absolute;
  transition: all .5s;
}

.sliding-col-btn:not(.rdc-disabled):hover {
  left: 3px;
}
/* span.sliding-col-btn-outer.rdc-disabled {
  display: none;
} */

.sliding-col-btn-outer-left {left: 3%;}

span#sliding-col-prev {
    transform: rotate(180deg);
}

.sliding-columns-container {
    position: relative;
}

.sliding-col-btn-outer:after {
    content: "";
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100px;
    z-index: -1;
    top: 1px;
    left: 3px;
    background-color: #fff;
}

.feedback-scroll-content-inner.rdc-active {
   animation: contentOpacity 1s linear;
}

.sliding-columns-box {
    padding-bottom: 10px;
}

.rdc-scroll-vid-vids {
  transition: all 8s ease-in-out;
}

.rdc-scroll-vid-vids {transform: translateX(100px)}

@keyframes rotateRight{
  to{ transform: rotate(360deg); }
}


@keyframes scroll-left-text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes contentOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-block.product-block-quantity-selector .push-btn:after,.buy-button-with-quantity-wrapper .product-block-buy-buttons-quantity .push-btn:after {
    z-index: -1;
}

.product-block p {
    margin-bottom: 20px;
}


.rdc-collection-card img {
border-radius: 8px;
    border: 2px solid #000;
  width: 100%;
}
.rdc-collection-single-main {
    padding: 45px;
}
.rdc-collection-card h3 {
    margin: 20px 0 10px;
}

.br-pc-color-count {
    background-color: #CBEBF3;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

.product-tile h3.font-body,
.rdc-collection-card h3 {
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;

}

a.rdc-collection-card-inner>span,
.rdc-collection-card h3 {
    width: 100%;
}
.rdc-collection-card h3 {margin-bottom: 8px}

.product-tile .price__container {font-size: 16px}

.rdc-variant-price{
  line-height: 0.8;
}
.rdc-variant-price span {
    font-size: 25px;
    font-weight: 600;
    line-height: 0.8;
}
.br-atc-benefit {font-size: 16px}
span.br-img-benefit {
    bottom: 25px;
    background-color: #99d7e7;
    border-radius: 2px;
    border: 1px solid #000;
    padding: 5px 15px;
    left: 25px;
}

/**Complementary Products**/
.rdc-cp-box {
    min-width: 100%;
    overflow: hidden;
padding: 1px;
}

.rdc-cp-box-inner {
      border: 1px solid;
      border-radius: 5px;
    background-color: #ECDEF6;
      height: 100%;
}
.rdc-cp-inner {
/*     width: fit-content; */
    transition: all .5s ease-in-out;
}
.rdc-cp-main {overflow: hidden}
.rdc-cp-box h4 {
    font-weight: 700;
    text-transform: uppercase;
}

.rdc-cp-price,
.rdc-cp-box h4 {font-size: 20px}

.rdc-cp-colors {
  font-size: 16px;
font-style: italic;
  color: #707070;
}
.rdc-cp-image {
    border: 1px solid;
    border-radius: 5px;
  max-width: 100px;
    max-height: 100px;
}

.rdc-cp-navs svg {    width: 12px}
.rdc-cp-nav-prev svg{transform: rotate(90deg)}
.rdc-cp-nav-next svg{transform: rotate(-90deg)}


.product-content legend {
  min-width: 100%;
  width: 100%;
}

.product-block-text svg {
    background-color: #D9BCEC;
    border-radius: 100px;
}
span.rdc-imgvariant-picker {
    max-width: 70px;
    overflow: hidden;
    display: flex;
  border: 2px solid;
    border-radius: 10px;
}
span.rdc-imgvariant-picker img {
    /*/transform: scale(1.2);*/
}
.rdc-media-dots {display:none}

span.rdc-media-dot.rdc-active {
    background-color: #000;
}
.rdc-product-page-details::-webkit-scrollbar {
    display: none;
}
.rdc-vp-more {
  max-width: 40px;
  right: -20px;
  position: absolute;
  width: 100%;
  top: 52px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: rgba(255,255,255,0);
  padding: 10px 0;
  z-index: 99;
}
.left-button{
  left: -20px;
  transform: rotate(180deg);
}
.rdc-vp-more svg {
    width: 20px;
    transform: rotate(-90deg);
}

/*STOCKISTS*/
.rdc-stockists-inner {max-width: 1200px;justify-content: center;}
.rdc-stockists-box-inner {
    background-color: #ECDDF5;
    border: 1px solid;
    border-radius: 20px;
}
.rdc-stockists-box-inner h3 {
    max-width: 180px;
    text-align: center;
    margin-inline: auto;
    padding: 5px;
    background-color: #98D7E7;
    border-radius: 10px;
    border: 1px solid;
}
.rdc-stockists-inner {
    padding: 3%;
}
.rdc-stockist-inner-img {padding: 12px 20px}
.rdc-stockist-inner-img img { max-width: 80%}

.rdc-stockist-inner-link a {
    text-decoration: underline;
}
.rdc-stockists-main h1 {
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
    margin-inline: auto;
    margin: 4% auto 0;
  text-align: center
}

/**Cart Drawer**/
div#right-drawer-slot .push-btn input {z-index: 1}
.br-agreement-co-upper {
  align-items: flex-start;
  margin-bottom: 10px;
}

.br-agreement-co input {cursor: pointer}
.br-agreement-co p {font-size: 12px}
.br-agreement-co {margin-bottom: 10px}
.br-agreement-co p a {
  color: #3C86DB;
text-decoration: underline;
}

.push-btn.rdc-disabled {cursor: not-allowed}
.push-btn.rdc-disabled input.rdc-brite-co-btn {background-color: #e5e5e5}
.push-btn.rdc-disabled:hover input.rdc-brite-co-btn {transform: unset}



.push-btn.rdc-disabled input.rdc-brite-co-btn {
-webkit-box-shadow: inset 0 0 0 2px;
  -webkit-appearance: none;
}

@media only screen and (min-width: 1200px) {
.feedback-scroll-content-inner span:first-child {font-size: 30px}
.feedback-scroll-content-inner span:last-child {font-size: 40px}
}



.rdc-img-text-sec-img .media-content img {border-left: 2px solid}
.rdc-img-text-sec-inner .text-left {padding: 0 6%}
  .rdc-scroll-vid-main {padding: 4% 0 5%}

  .rdc-hero-title-desk {
    white-space: nowrap;
}
    .rdc-product-media-viewer,
  span.rdc-pm-thumbnail {
    border: 2px solid;
    border-radius: 8px;
    overflow: hidden;
}

.rdc-product-media-viewer img{
  width: 100%;
}
  span.rdc-pm-thumbnail {
    margin-right: 1%;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 1%;
    width: 24%;
    height: 12.4vw;
}
  .rdc-product-media-thumbnails {
    padding-top: 15px;
}
  .rdc-product-media-main-wrapper {
    /* position: sticky;
    top: 0;
    height: fit-content;
    display: flex; */
}
  .rdc-product-page-details {
    /* max-height: 1000px;
        overflow-y: scroll; */
}

@media only screen and (max-width: 1200px) {
.rdc-scroll-vid-vids {
  animation: scroll-left-smaller 25s linear infinite;
}
  .heading-template.rdc-hero-title-desk {
    font-size: 3.7vw;
}
}

@media only screen and (max-width: 989px) {
.rdc-mm-d-none {display: none}

.rdc-m-w-full {width: 100%}  
.rdc-i-w-50 {width: 50%}
.rdc-i-p-10 {padding: 10px}
.rdc-m-p-0 {padding: 0}
  
.rdc-img-text-sec-img .media-content img {border-bottom: 2px solid}
.rdc-img-text-sec-inner .text-left {padding: 40px 6% 50px}

.rdc-sbc-rows {max-width: 700px}
.rdc-sbc-cards {flex-wrap: wrap}
.rdc-sbc-card {
  width: 50%;
padding: 5px;
}

.sliding-columns-box {padding:10px}


span.rdc-rotating-sticker {
  top: 5%;
   right: 14%;
}

   .rdc-scroll-vid-main {padding: 50px 0}

  .feedback-scroll-inner {flex-flow: column-reverse}
  .feedback-scroll-content-inner {
    text-align: center;
}


  
  .feedback-scroll-content-outer {
    margin-inline: auto;
}

  .feedback-scroll-image {
    width: 50%;
}
  .feedback-scroll-text {width: 100%;}
  .feedback-scroll-logo-outer {
    margin-inline: auto;
}
.feedback-scroll-logo img {margin-inline: 15px;}
  .feedback-scroll-image {
    margin-bottom: 30px;
}
  .feedback-scroll-logo {justify-content: center}
.feedback-scroll-content-inner span:first-child {
    font-size: 30px;
}

.feedback-scroll-content-inner span:last-child {
    font-size: 40px;
}

  .feedback-scroll-content {
    margin-inline: auto;
}
    .rdc-active-content {margin-bottom: 20px}
  .feedback-scroll-main {padding: 50px 5%}


    span.rdc-scroll-vid-close-btn {
    right: -5px;
    top: 15px;
}
.rdc-no-img-bg-mob {
  background-image: unset !important;
}
  .rdc-d-none-mob {display: none}
  .rdc-d-block-mob {display: block}

.rdc-collection-single-main {
    padding: 20px;
}
  .rdc-product-page-details .pb-media-shadow img.media-style {
    border: none;

    border-radius: 0;
}
.rdc-media-main-container {
      border-bottom: 2px solid;
}
span.br-img-benefit {
    bottom: 80px;
    left: 15px;
}
/*   ul.rdc-media-dots li {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    border: 1px solid;
    margin: 1px;
}
  ul.rdc-media-dots li a [class^=image-wrapper]:not(.image-wrapper-none) img {
    display: none;
}
  ul.rdc-media-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: unset;
    width: 30%;
        flex-wrap: wrap;
} */
/* 
  .rdc-media-dots {
    display:flex;
  flex-wrap: wrap;
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    justify-content: flex-end;
  }
  span.rdc-media-dot {
   width: 8px;
    height: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid;
    display: flex;
    line-height: 1;
    margin: 2px;
}
  span.br-img-benefit {
bottom:20px
}

.rdc-product-media-viewer {
    border-bottom: 2px solid;
} */
  .rdc-cp-main {
    margin-bottom: 30px;
}
.product-recommendations ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-recommendations li {
    width: 46%;
}
  .rdc-stockists-inner {
    max-width: 500px;
    margin-inline: auto;
}
.rdc-hover-col-img.rdc-desktop {display: none}
  
}

span.rdc-rotating-sticker span {
    position: absolute;
    bottom: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,50%);
   font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}





@media only screen and (max-width: 767px) {
  .rdc-sbc-card a,
  .rdc-sbc-card-inner:after {border-radius: 20px}

  span.rdc-rotating-sticker {right: 15%}
  .rdc-py-m-50 {padding-top: 50px; padding-bottom: 50px}

  .feedback-scroll-content-inner span:first-child {
    font-size: 22px;
}

.feedback-scroll-content-inner span:last-child {
    font-size: 25px;
}

  .feedback-scroll-logo img {
    height: 16px;
  margin-inline: 10px;
  }
  .feedback-scroll-logo img.rdc-active-logo {height: 20px}

  .feedback-scroll-image {width: 70%}

span.rdc-scroll-vid-close-btn {
    right: -5px;
    top: 25px;
}

  .rdc-scroll-vid-vids {transition: all 16s ease-in-out}
  span.br-img-benefit {font-size: 12px}
.rdc-vp-inner {flex-wrap: nowrap}
 .rdc-vp-fieldset-wrapper {overflow-x: scroll}
  .rdc-stockists-main h1 {font-size: 30px}
  .rdc-stockists-main {padding: 5% 0}

  .rdc-cp-text {
    width: 70%;
    padding-left: 15px; 
  }
  .rdc-cp-image {
    width: 100px;
    max-width: none;
    max-height: none;
  }

span.rdc-cp-price {margin: 5px 0}  
  .rdc-cp-box-inner {padding: 15px}

  .push-btn.rdc-disabled input.rdc-brite-co-btn {
  padding: 12.5px 0;
    border: none;
}
  
}

@media only screen and (max-width: 680px) {
  span.rdc-rotating-sticker {
 top: 4%;
    right: 6%;
  }
  
}

@media only screen and (max-width: 565px) {
  span.rdc-rotating-sticker {
    width: 100px;
    right: 6%;
    top: 2%;
  }

  span.rdc-rotating-sticker span {font-size: 14px}


  .rdc-scroll-vid-vids {transform: translateX(60px)} 
 /* span.rdc-imgvariant-picker {max-width: 55px}*/
}


@media only screen and (max-width: 300px) {
  span.rdc-rotating-sticker {
      width: 70px;
    top: 2%;
    right: 2%;
  }

  .rdc-scroll-vid-display img:first-child,
  .rdc-scroll-vid-display {
    height: 360px;
    width: 240px;
         
  }

  span.rdc-rotating-sticker span {
    font-size: 10px;
}

  .rdc-scroll-vid-card {margin-right: 4%}
      .feedback-scroll-content-inner span:first-child {
    font-size: 15px;
}

.feedback-scroll-content-inner span:last-child {
    font-size: 20px;
}

    .feedback-scroll-logo img {
      margin-inline: 5px;
    height: 12px;
  }
  .feedback-scroll-logo img.rdc-active-logo {height: 15px}

}
@media only screen and (min-width: 990px) {
#sidebar{
  top:10px;
  height: fit-content;
  position: sticky;
}
  .template-product{
      overflow-x:hidden;
  }
}

.rdc-product-media-inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}
.padd-on-mobile{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}